<section class="sct-color-1 slice">
  <div class="container">
    <div class="row">
      <div class="col-md-12 post_images_container">
        <div class="post-item">

          <section class="sct-color-1 slice">
            <div class="container-fluid masonry-container">
              <div class="row">
                <div class="col-md-8 col-sm-offset-2">
                  <div class="masonry-wrapper-cols">
                    <div class="masonry-gutter"></div>
                      <% @post_images.each do |post_image| %>
                      <div class="masonry-block">
                        <div class="block block-image v1">
                          <div class="block-image">
                            <div class="view view-first">
                              <%= attachment_image_tag post_image, :image %>
                            </div>
                          </div>
                          <div class="block-content">
                            <%= image_tag('sample-author1.jpg', class: "img-circle pull-left profile-thumb") %>
                            <h3 class="block-title">
                            <%= link_to post_image_path(post_image.id) do %>
                               <i class="fa fa-map-marker"></i><%= post_image.shop_name %>
                            <% end %>
                            </h3>
                            <p><%= post_image.caption %></p>
                            <ul class="inline-meta">
                              <li>By
                                <%= post_image.user.name %>
                              </li>
                              <li>
                              <a href="#">23 コメント</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <div class="comment-list bt style-2" id="comments">
            <div class="float-wrapper">
              <h2 class="comment-count">4件コメント</h2>
            </div>
            <ol>
              <li class="comment">
                <div class="comment-body bb">
                  <div class="comment-avatar">
                    <div class="avatar">
                      <!-- <img src="images/sample-author1.jpg"> -->
                      <%= image_tag('sample-author1.jpg') %>
                    </div>
                  </div>
                  <div class="comment-text">
                    <div class="comment-author clearfix">
                      <a href="#">投稿者名</a>
                      <span class="comment-meta">
                        <span class="comment-date">2017/07/21</span>
                      </span>
                    </div>
                    <div class="comment-entry">コメントがここに表示されますコメントがここに表示されますコメントがここに表示されますコメントがここに表示されますコメントがここに表示されますコメントがここに表示されますコメントがここに表示されます</div>
                  </div>
                </div>
              </li>
            </ol>
          </div>
          <hr>

          <!-- Add comment section -->
          <div class="section-title-wrapper style-1 v1 mt-30" id="divAddComment">
            <h3 class="section-title left">
              <span>コメント</span>
            </h3>
          </div>
          <form class="mt-20">
            <div class="row">
              <div class="col-sm-12">
                <textarea class="form-control" rows="5" placeholder="コメントをここに"></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-lg btn-base-1 mt-20 pull-right">送信する</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
